body {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
    background-color: background: rgb(85,253,255);
    background: linear-gradient(0deg, rgba(85,253,255,1) 0%, rgba(62,110,255,1) 100%);;
}

header img {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 30%;
    align-items: center;
    text-align: center;
    margin: 15px 0px 0px 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 100px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: inline-flex;
}

header a {
    color: black;
    display: inline-flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 270px;
    border-radius: 30px;
    text-decoration: none;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.other {
    width: 100px;
    height: 30px;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    justify-content: center;
}

header a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 20px;
}

/* --------------------------------------------------- */

.stockone {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 110px 10px;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    transition: 0.15s ease-in-out;
}

.stockone img {
    width: 200px;
    border-radius: 20px;
    text-align: center;
    margin: 30px 50px;
}

.stockone h2, .stockone p, .stockone a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: -30px;
}

.stockone a {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 100px;
    transition: 0.3s ease-in-out;
    padding: 6px 0 0 0;
}

.stockone:hover {
    box-shadow: 0px 0px 20px;
}

.stockone a:hover {
    background-color: rgba(255, 255, 255, 1);
}